<!-- <div class="login rounded">
    <form class="">
        <div class="form-group mb-1 p-3">
            <label for="exampleFormControlInput1" class="form-label">Usuario</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="form-group mb-1 p-3">
            <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="form-group mb-1 p-3">
            <button type="button" class="btn btn-success">Iniciar sesion</button>
        </div>
    </form>
</div> -->