<table class="table table-striped table-bordered text-center" style="width:100%" id="tablaObras">
    <thead>
        <th>ID Obra</th>
        <th>Nombre</th>
        <th>Plazo</th>
        <th>Empresa</th>
    </thead>
    <tbody id="res">
    </tbody>
</table>